[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
peony-twitter = {extras = ['aiohttp'],version = '>=1.1.2,<2.0'}
asyncpg = "<0.22"
aiohttp = "<3.6"
python-dateutil = "<2.9"

[dev-packages]
flake8 = '*'
autopep8 = '*'
rope = '*'

[requires]
python_version = "3.7"
